body{
    background-color: blanchedalmond;
    margin: 20px;
    padding: 0px;
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item{
    border: 20px solid orange;
    background-color: rgba(135, 207, 235, 0.5);
    margin: 3%;
    transition: 0.9s ease-out;
}

.item:hover{
    border-radius: 50px;
    transition: 0.3s ease-in;
    border: 20px solid rgba(255, 166, 0, 0.5);
    background-color: skyblue;
    filter: brightness(110%);
}

img{
    width: 200px;
    height: 125px;
    padding: 0px;
    transition: 3s ease-out;
}

img:hover{
    filter: opacity(60%);
    transition: 0.3s ease-in;
}


h3{
    text-align: center;
    color: orange;
    font-weight: 800;
    margin: 10px 0px;
    font-size: 22px;
}

a{
    text-decoration: none;
}
